<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smartedu.mapper.CourseMapper">

    <resultMap id="CourseResultMap" type="com.smartedu.entity.Course">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="description" column="description"/>
        <result property="teacherId" column="teacherId"/>
        <result property="teacherName" column="teacherName"/>
        <result property="teacherAvatar" column="teacherAvatar"/>
        <result property="imgs" column="imgs"/>
        <result property="time" column="time"/>
        <result property="tag" column="tag"/>
        <!-- 这里指定 FileListJsonTypeHandler -->
        <result property="files" column="files" typeHandler="com.smartedu.handler.FileListJsonTypeHandler"/>
    </resultMap>
    <!-- 查询所有 -->
    <select id="getAllCourses" resultMap="CourseResultMap">
        SELECT * FROM courses
    </select>

    <!-- 模糊组合查询 -->
    <select id="selectAll" parameterType="com.smartedu.entity.Course" resultMap="CourseResultMap">
        SELECT * FROM courses
        <where>
            <if test="id != null">
                AND id = #{id}
            </if>
            <if test="title != null and title != ''">
                AND title LIKE concat('%', #{title}, '%')
            </if>
            <if test="description != null and description != ''">
                AND "description" LIKE concat('%', #{description}, '%')
            </if>
            <if test="teacherId != null">
                AND teacherId = #{teacherId}
            </if>
            <if test="teacherName != null and teacherName != ''">
                AND "teacherName" LIKE concat('%', #{teacherName}, '%')
            </if>
            <if test="tag != null and tag != ''">
                AND "tag" LIKE concat('%', #{tag}, '%')
            </if>
        </where>
        ORDER BY id ASC
    </select>



    <!-- 按 ID 查询 -->
    <select id="selectById" parameterType="long" resultMap="CourseResultMap">
        SELECT id, title, description, "teacherId",imgs
        FROM courses
        WHERE id = #{id}
    </select>

    <!-- 插入 -->
    <insert id="insert" parameterType="com.smartedu.entity.Course" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO courses (title, description, "teacherId",imgs,"teacherName","teacherAvatar",time,tag,files)
        VALUES (#{title}, #{description}, #{teacherId},#{imgs},#{teacherName},#{teacherAvatar},#{time},#{tag},
                #{files, typeHandler=com.smartedu.handler.FileListJsonTypeHandler})
    </insert>


    <!-- 更新 -->
    <update id="update" parameterType="com.smartedu.entity.Course">
        UPDATE courses
        SET title = #{title},
            description = #{description},
            "teacherId" = #{teacherId},
            imgs = #{imgs},
            "teacherName" = #{teacherName},
            "teacherAvatar" = #{teacherAvatar},
            time = #{time},
            tag = #{tag},
            files = #{files, typeHandler=com.smartedu.handler.FileListJsonTypeHandler}
        WHERE id = #{id}
    </update>

    <!-- 删除 -->
    <delete id="deleteById" parameterType="long">
        DELETE FROM courses WHERE id = #{id}
    </delete>




</mapper>
